body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
.detail-container {
  width: 100%;
  h2 {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .detail-content {
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    .detail-up {
      img {
        object-fit: cover;
      }
    }

    .detail-down {
      width: 40%;
      .text-p {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .size-content {
        label:nth-child(1) {
          margin-top: -20px;
          font-size: 1.2rem;
          input {
            width: 15px;
            height: 15px;
          }
        }
        label:nth-child(2),
        label:nth-child(3),
        label:nth-child(4) {
          margin-top: -20px;
          font-size: 1.2rem;
          padding: 0px 0px 0px 17px;
          input {
            width: 15px;
            height: 15px;
          }
        }
      }
      .text-price {
        font-size: 1.2rem;
        font-weight: 700;
        color: red;
      }
      .buy-btn {
        input {
          width: 20%;
          height: 10%;
          outline: none;
        }
        .btn-1 {
          width: 10%;
          height: 40px;
          margin-right: 10px;
          cursor: pointer;
        }
        .btn-2 {
          width: 10%;
          height: 40px;
          margin-left: 10px;
          cursor: pointer;
        }
      }
      .buy {
        margin-top: 20px;
        button {
          height: 40px;
          width: 224px;
          cursor: pointer;
        }
      }
    }
  }
}
